  
  * {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  /* Login */
  
  #login {
    text-align: right;
    position: relative;
    left: -141px;
    padding-top: 2%;
  
  }
  .login__btn a {
    color: #174242;
    margin: 0px 8px;
    font-size: 13px;
  }
  
  /* Navbar */
  
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 2% 146px;
    padding-bottom:50px;
  }
  .logo {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .logo__title a{
    color:#041B29;
    font-size:34px;
  }
  
  .square__point {
    position: absolute;
    top: 15.8%;
    left: -2.5%;
    font-size:8px;
  }
  
  .squareA{
    color:#011B28;
  }
  .squareB{
    color:#a89999;
  }
  
  .navbar__menu {
    display: flex;
    margin-left:100px; 
  
  }
  .navbar__component a{
    color:#999799;
    margin:0px 24px;
    font-size:14px;
  }
  
  
  #input__form {
    position: relative;
    margin-left:35px;
  }
  
  #input__form i{
    position:absolute;
    top:1px;
    right:0px;
    cursor: pointer;
    color:#ADA9A9;
    font-size:12px;
   
  }
  #search__input{
    outline: none;
    border:none;
    border-bottom:1px solid #ADA9A9;
    width:200px;
    height:20px;
    color:#ADA9A9;
  }
  
  input::placeholder{
    color:#ADA9A9;
  }
  
  .category{
    font-size:20px;
    cursor: pointer;
    display: none;
  }
  

  
/* Media Screen */

@media screen and (max-width:768px){
  
    /* Login */
    
    #login {
      position: static;
      width: 100%;
      text-align: right;
      padding:15px 0px;
      color:#f8f8f8;
    }
    .login__btn a{
      font-size:12px;
    }
    /* Navbar */
    
    #navbar{
      padding:0px;
      justify-content: center;
      padding-bottom:50px;
      }
    .logo{
      flex-direction: column;
      color:#001928;
    }
    .logo__title a{
      font-size: 22px;
    }
    
    .square__point {
      top:0px;
      left: -15px;
    }
    
    .navbar__menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      margin:0px;
      padding-top:30px;
      text-align: center;
      padding-top:50px;
    }
    
    .navbar__component{
      line-height: 50px;
      font-size:14px;
      font-weight: bold;
    }
    
    #input__form{
      display:none;
    }
    
    .category{
      position: absolute;
      top: 53px;
      right:8px;
      font-size:18px;
      display: block;
    
    }

    /* Show */

    .categoryShow{
      display: block;
    }

  }